/* header */
header{
 background-color: rgb(45, 45, 225);
 color: white;
 padding-bottom: 50px;
}


.head{
    display:flex;
    
    color: white;
    
}
.nav{
    margin:100px 140px;
    justify-content: space-between;
    color: white;

    height: 44px;
    
   

}

.link a{
    text-decoration: none;
    color:white;
    padding: 10px;
    padding-right: 30px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* main */
.main-div img {
    height: 438px;
    width: 556.01px;
 
    
}
.main-div{
   
    margin-left: 100px;
    padding-right: 140.99;
   
}
.btn-1{
    width: 123px;
    background-color: rgb(179, 43, 120);
    border: 0;
    height: 44px;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 30px;
    margin-left: 200px;
    color: white;
    margin-top: 80px;
}
.btn-2{
    width: 168px;
    height: 44px;
    background-color: rgb(179, 43, 120);
    border: none;
    color: white;

}
.btn-3{
    width: 172px;
    height: 44px;
    background-color: rgb(179, 43, 120);
    border: none;
    color: white;
}
.cca{
  font-size: 36px;
  padding-left: 140px;
}
.fnt-img{
    display: flex;
  margin-bottom: 50px;
}
.card{
    width: 330px;
    height: 474px;
  box-shadow: 0 0 10px 10px rgba(128, 128, 128, 0.429);
}
.card-div{
    width: 300px;
    height: 256px;
}
.card-div img{
    width: 300px;
    height: 256px;
   padding-left: 15px;
   padding-top: 10px;
}
.details{
    color: black;
    padding-left: 10px;
   
}
.card-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:30px 180px 30px;
    gap:20px;
}
/* Footer */
.ftr{
    width: 466px;
    height: 309px;
    margin-top: 50px;
}
.footer{
    display: flex;
    margin-left: 177px;
    margin-top: 150px;
}
.logo{
    margin-bottom: 100px;
    text-align: center;
    margin-top: 100px;
}
.logo2{
    display:flex;
    margin-left: 630px;
}
.logo img{
    width:483px;
    height:110px;
}
.logo2 img{
    height:30px;
    width:30px;
    padding:10px;
}
.logo p{
    margin-left: 70px;
}